.wrapper {
  padding: 8px 0 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  /* display: flex; */
}

.initial-screen {
  display: flex;
  flex-flow: column;
  height: 94%;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.initial-screen-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  margin: auto 0; /* Centers the first child vertically */
}

.button-wrapper {
  width: 100%;
  align-self: flex-end;
  margin-top: auto;
}

.initial-screen p {
  padding: 16px;
}

.plugin-icon {
  width: 64px;
}

.section-header {
  display: flex;
  flex-flow: row;
  padding-right: 4px;
}

.refresh-icon {
  align-self: flex-end;
}

.section-label {
  display: flex;
  flex-grow: 1;
  height: 32px;
  margin-left: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.005em;
  color: rgba(0, 0, 0, 0.9);
}

.list-item {
  height: 32px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 4px;
  border: 1px solid transparent;
  box-sizing: content-box;
  overflow: hidden;
}

.list-item-content:hover {
  background-color: #f5f5f5;
  cursor: default;
}

.list-item:hover .icons {
  display: flex;
}

.list-item-content {
  height: 32px;
  padding-left: 8px;
  padding-right: 10px;
  border-radius: 3px;
  display: flex;
  flex-grow: 1;
  flex-flow: row;
  align-content: center;
  align-items: center;
  overflow: hidden;
}

.icons {
  display: none;
  flex-shrink: 0;
}

.icon {
  border-radius: 3px;
}

.icon:hover {
  background-color: #f5f5f5;
}


.label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
  color: rgba(0, 0, 0, 0.9);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.variable-font {
  padding: 2px;
  background-color: rgb(245, 245, 245);
  border-color: rgb(230, 230, 230);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  height: 20px;
  overflow: hidden;
  padding: 0 3px;
  margin-right: 2px;
}

.secondary {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.style-dot {
  padding-left: 3px;
  padding-right: 3px;
}

.dot {
  padding-left: 3px;
  padding-right: 0;
}

.style-indicator-wrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  text-align: center;
  padding-right: 8px;
}

.style-name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: rgba(0, 0, 0, 0.9);
}

.show-more {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 6px;
}

.inline-icon {
  padding-right: 8px;
}

.secondary-button {
  height: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.005em;
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.9);
  margin: 8px 16px 0;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.no-outline {
  border: none;
}

:root {
  --elevation-500-modal-window: 0px 0px .5px rgba(0, 0, 0, .08), 0px 10px 24px rgba(0, 0, 0, .18), 0px 2px 5px rgba(0, 0, 0, .15);
}

.sidebar {
  /* width: 240px;
  /* padding: 8px; */
  /* box-shadow: var(--elevation-500-modal-window, 0px 2px 14px rgba(0, 0, 0, .15), 0px 0px 0px 0.5px rgba(0, 0, 0, .2)); */
  /* border-right: 1px solid #e6e6e6; */
}

.list-container {
  width: 240px;
}

.layer-details {
  position: relative;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}







/* Css Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}